---
import PersonalInfo from "./PersonalInfo.astro";
import Contact from "./Contact.astro";
import Skills from "./Skills.astro";
---

<section
  class="w-full max-h-screen min-h-screen pt-10 h-screen flex flex-col items-start justify-center bg-secondary-bg border-t border-main-border p-2"
  id="about"
>
  <PersonalInfo />
  <Contact />
  <Skills />
</section>
