---
import PersonalInfo from "./PersonalInfo.astro";
---

<section
  class="w-full max-h-screen min-h-screen h-screen flex flex-col items-start justify-center bg-secondary-bg border-t border-main-border p-2"
  id="about"
>
  <PersonalInfo />
  <div class="w-full min-h-1/4 bg-amber-500">
    <h1>Contact</h1>
  </div>
  <div class="w-full min-h-1/4 bg-amber-800">
    <h1>Projects</h1>
  </div>
</section>
