---
import { Image } from "astro:assets";
import { socialMediaData } from "../mocks/data.ts";
---

<article
  class="w-full flex flex-col md:flex-row justify-center items-start gap-10 lg:gap-0 pt-10"
>
  <div
    class="w-full md:w-1/2 lg:w-1/3 flex flex-col items-center lg:items-start"
  >
    <h2
      class="text-xl lg:text-2xl font-title font-bold tracking-wide underline underline-offset-4 mb-5"
    >
      Contact
    </h2>
    <ul class="flex flex-col gap-4 items-start justify-center">
      {
        socialMediaData.map((item) => (
          <li class="group">
            <a
              href={item.url}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-3 font-nav text-xs lg:text-sm hover:translate-x-2 transition-transform"
            >
              <Image
                src={item.icon}
                alt={item.name}
                class="w-5 h-5 opacity-70 group-hover:opacity-100"
              />
              <span class="border-b border-transparent group-hover:border-text">
                {item.name}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</article>
