---
import { Image } from "astro:assets";
import Me from "../assets/images/me.webp";
---

<article class="w-full h-2/4">
  <div class="w-full h-full flex items-center justify-evenly gap-5">
    <div>
      <Image
        src={Me}
        alt="Tadeo Wotoszyn"
        class="w-70 rounded-tr-3xl rounded-bl-3xl"
      />
    </div>
    <div class="flex flex-col gap-8 max-w-1/2">
      <div class="flex flex-col gap-2">
        <h class="text-5xl font-bold tracking-wide font-title"
          >Tadeo Wotoszyn Grillo.</h
        >
        <h2 class="text-2xl font-default">Web Developer</h2>
      </div>
      <div class="flex flex-col gap-2">
        <h1 class="text-3xl font-title underline underline-offset-4">
          About Me
        </h1>
        <p class="text-xl font-default">
          Front-End Developer student, im currently learning in Universidad de
          la Punta, besides I am also a self-taught student. I have a passion
          for tecnologies, design, coding, aerospace and AI.
        </p>
      </div>
    </div>
  </div>
</article>
