---
import ProjectCard from "./ProjectCard.astro";
---

<section
  class="w-full max-h-screen min-h-screen pt-10 h-screen flex flex-col items-start justify-center bg-secondary-bg border-t border-main-border p-2"
  id="projects"
>
  <h1
    class="text-2xl font-title font-bold tracking-wide underline underline-offset-4 mb-5"
  >
    Projects
  </h1>
  <article
    class="flex items-center justify-center gap-2 w-full h-4/5 bg-amber-200"
  >
  </article>
</section>
