---

---

<section
  class="w-full max-h-screen min-h-screen pt-10 h-screen flex flex-col items-start justify-center bg-secondary-bg border-t border-main-border p-2"
  id="projects"
>
  <h1>Projects</h1>
</section>
