---
import { Image } from "astro:assets";

const { item } = Astro.props;
---

<li class="flex items-center gap-3 group">
  <Image
    src={item.icon}
    alt={item.name}
    class="w-4 h-4 opacity-70 group-hover:opacity-100 transition"
  />
  <p class="text-neutral-800">{item.name}</p>
</li>
