---
import { skillsData } from "../mocks/data.ts";
import SkillsTag from "./SkillsTag.astro";
---

<div class="w-full flex flex-col items-center pt-16">
  <h2
    class="text-xl lg:text-2xl font-title font-bold tracking-wide underline underline-offset-4 mb-8"
  >
    Skills
  </h2>
  <ul
    class="grid grid-cols-1 xxs:grid-cols-2 xs:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-x-8 gap-y-6 font-nav text-[10px] lg:text-xs uppercase tracking-widest"
  >
    {skillsData.map((item) => <SkillsTag item={item} />)}
  </ul>
</div>
