---

---

<main
  class="w-full h-screen bg-amber-100 flex flex-col items-center"
  id="index"
>
  <header class="w-full min-h-15 flex items-center justify-between px-5">
    <div>
      <h1>Tadeo Wotoszyn</h1>
    </div>
    <div>
      <nav>
        <ul class="flex gap-3">
          <li><a href="#index">INDEX</a></li>
          <p>/</p>
          <li><a href="#about">ABOUT</a></li>
          <p>/</p>
          <li><a href="#projects">PROJECTS</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <h2>tadeo.woto@gmail.com</h2>
    </div>
  </header>
  <div class="w-full h-full bg-amber-300">
    <h3>Hi, I'm Tadeo</h3>
  </div>
</main>
